<div class="function-item" id="open-popup">
    <i class="fa-solid fa-user"></i>
    <span title="Thông tin tài khoản">
        @if (ViewBag.TenDangNhap != null)
        {
            @ViewBag.TenDangNhap
        }
        else
        {
            <text>Tài khoản</text>
        }
    </span>
</div>